body {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  padding: 100px 30px;
  font-family: "Onest", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}

:focus-visible {
  outline: 2px dashed var(--text);
  outline-offset: 4px;
  transition-duration: 0s !important;
}