@use 'helpers' as *;

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.content {
  margin-bottom: 25px;
  padding: 25px 40px 40px;
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-l);

  @include tablet {
    margin-bottom: 20px;
    padding: 20px 25px 25px;
  }

  @include mobile-s {
    margin-bottom: 15px;
    padding: 15px 20px 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.link {
  padding: 6px;
  text-decoration: none;
  color: var(--text);
  border-radius: var(--border-radius);

  &.active {
    color: var(--text-accent);
  }

  @include hover {
    color: var(--text);
    background-color: var(--primary);
    transition-duration: var(--transition-duration);
  }
}

.titleAccent {
  margin-bottom: 15px;
  color: var(--text-accent);

  @include tablet {
    margin-bottom: 8px;
  }

  @include mobile-s {
    margin-bottom: 4px;
  }
}

.visually-hidden {
  @include visually-hidden;
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(100%) !important;
}
