@use 'helpers' as *;

:root {
  --bg-dark: oklch(12% 0.01 160deg);
  --bg: oklch(17% 0.01 160deg);
  --bg-light: oklch(22% 0.01 160deg);
  --bg-card: oklch(29% 0.01 180deg);
  --bg-game-board: oklch(27% 0.01 180deg);
  --text: oklch(98% 0.005 160deg);
  --text-muted: oklch(75% 0.01 160deg);
  --text-accent: oklch(88% 0.18 160deg);
  --border-color: oklch(42% 0.12 160deg);
  --border-muted: oklch(30% 0.12 160deg);
  --primary: oklch(72% 0.16 155deg);
  --primary-hover: oklch(76% 0.19 155deg);
  --primary-active: oklch(68% 0.18 155deg);
  --primary-bg: oklch(72% 0.16 155deg / 0.15);
  --secondary: oklch(65% 0.14 160deg);
  --danger: oklch(65% 0.15 25deg);
  --warning: oklch(75% 0.12 70deg);
  --success: var(--primary);
  --info: oklch(70% 0.1 240deg);
  --highlight: oklch(40% 0.12 160deg);
  --grey: oklch(33.02% 0.01 255deg);

  --theme-icon: url("/moon.svg");

  body.light {
    --bg-dark: oklch(93% 0.01 160deg);
    --bg: oklch(97% 0.005 160deg);
    --bg-light: oklch(100% 0 0deg);
    --bg-card: oklch(96% 0.005 160deg);
    --bg-game-board: oklch(93% 0.01 180deg);
    --text: oklch(20% 0.02 160deg);
    --text-muted: oklch(45% 0.02 160deg);
    --text-accent: oklch(55% 0.18 155deg);
    --border-color: oklch(80% 0.08 155deg);
    --border-muted: oklch(88% 0.05 155deg);
    --primary: oklch(65% 0.18 155deg);
    --primary-hover: oklch(58% 0.19 155deg);
    --primary-active: oklch(50% 0.2 155deg);
    --primary-bg: oklch(65% 0.18 155deg / 0.15);
    --secondary: oklch(60% 0.05 155deg);
    --danger: oklch(55% 0.18 25deg);
    --warning: oklch(65% 0.15 70deg);
    --success: var(--primary);
    --info: oklch(55% 0.14 240deg);
    --highlight: oklch(94% 0.08 155deg);

    --theme-icon: url("/sun.svg");
  }

  /* shadows */
  --shadow-s: 0 1px 2px #00000030, /* dark shadow */
  0 2px 4px #00000015; /* soft shadow */

  --shadow-m: 0 2px 4px #00000030, /* dark shadow */
  0 4px 8px #00000015; /* soft shadow */

  --shadow-l: 0 4px 6px #00000030, /* dark shadow */
  0 6px 10px #00000015; /* soft shadow */


  --border: var(--border-width-m) solid var(--border-color);

  --border-width-xl: 6px;
  --border-width-l: 4px;
  --border-width-m: 3px;
  --border-width-xm: 2px;
  --border-width-s: 1px;

  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius: 8px;
  --border-radius-xs: 6px;
  --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;

  --input-height: 44px;

  --font-family-base: "Onest", sans-serif;

  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};

  --container-padding-x: 36px;

  --transition-duration: 0.2s;

  --card-width: clamp(250px, 20vw, 300px);
}