.themeButton {
  width: 36px;
  height: 36px;
  padding: 2px;
  border: none;
  background: transparent;

  &:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: var(--theme-icon);
  }

  &.animateIcon:before {
    animation: rotateForward calc(var(--transition-duration) * 2.5) ease-in-out;
  }

  &:hover {
    opacity: 0.5;
    transition-duration: var(--transition-duration);
  }
}

@keyframes rotateForward {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}