@use '@/app/styles/helpers' as *;

.themeButton {
  @include square(36px);

  padding: 2px;
  background: transparent;
  border: none;

  &::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: var(--theme-icon);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &.animateIcon::before {
    animation: rotateForward calc(var(--transition-duration) * 2.5) ease-in-out;
  }

  @include hover() {
    opacity: 0.5;
    transition-duration: var(--transition-duration);
  }
}

@keyframes rotateForward {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}