@use '@/app/styles/helpers' as *;

.title {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 15px;
  }

  @include mobile-s {
    margin-bottom: 10px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;

  .listItem {
    display: flex;
    place-items: center;
    place-content: center;
  }
}