@use '@/app/styles/helpers' as *;

.title {
  margin-bottom: 20px;
  text-align: center;

  @include tablet {
    margin-bottom: 15px;
  }

  @include mobile-s {
    margin-bottom: 10px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 50px;

  @include tablet {
    gap: 25px;
  }

  @include mobile {
    grid-template-columns: repeat(auto-fit, minmax(clamp(140px, 45vw, 180px), 1fr));
  }

  .listItem {
    display: flex;
    place-items: center;
    place-content: center;
  }
}