@use '@/app/styles/helpers' as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--input-height);
  text-decoration: none;
  color: var(--text);
  border: none;
  border-radius: var(--border-radius);
  transition: all var(--transition-duration);

  @include hover {
    box-shadow: var(--shadow-l);
    transform: translateY(-2px);
  }

  &:active {
    filter: brightness(0.9);
    transform: translateY(0);
  }

  &.nav {
    padding: 6px 12px;
    color: var(--text-muted);
    background-color: transparent;

    &.active {
      color: var(--primary);
    }

    @include hover {
      color: var(--primary);
      background-color: var(--primary-bg);
      box-shadow: none;
      transform: translateY(0);
    }
  }

  &.primary {
    padding: 0 22px;
    font-weight: 500;
    color: var(--primary);
    background-color: transparent;
    border: 2px solid var(--primary);

    @include hover {
      color: var(--text);
      background-color: var(--primary-bg);
    }
  }
}