@use '@/app/styles/helpers' as *;

.gameBoard {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1 / 0.45;
  margin-inline: auto;
  background-color: var(--bg-game-board);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-m);

  @include laptop {
    aspect-ratio: 1 / 0.65;
  }

  @include tablet {
    aspect-ratio: 1;
    max-width: 550px;
  }
}

.gameContent {
  width: 100%;
  height: 100%;
  transition-duration: var(--transition-duration);

  &.blur {
    filter: blur(5px) grayscale(0.5);
    pointer-events: none;
  }
}

.overlay {
  position: absolute;
  inset: 0;

  @include flex-center;

  &Result {
    @include flex-center;

    flex-direction: column;
    gap: 20px;

    @include tablet {
      gap: 12px;
    }

    @include mobile-s {
      gap: 8px;
    }
  }
}

.emptyMessage {
  width: 100%;
  height: 100%;
  padding: 24px;

  @include flex-center;

  text-align: center;
}