@use '@/app/styles/helpers' as *;

.gameSettings {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include mobile-s {
    gap: 16px;
  }
}

.setting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  @include mobile-s {
    flex-direction: column;
    align-items: start;
  }
}