@use '@/app/styles/helpers' as *;

.optionsWrapper {
  @include flex-center;

  gap: 18px;

  @include tablet {
    gap: 12px;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 20px;
  }

  @include mobile-s {
    gap: 16px;
  }
}

.radioGroup,
.radioLabel {
  @include flex-center;

  gap: 6px;

  @include mobile-s {
    gap: 8px;
  }
}

.radioGroup {
  @include hover {
    &:not(:has(.input:checked)) {
      .radioLabel {
        opacity: 0.7;
      }
    }
  }
}

.input {
  &:checked + .radioLabel {
    opacity: 1;
    cursor: default;

    .radioInput {
      background-color: var(--secondary);
    }
  }
}

.radioInput {
  display: inline-block;
  margin: 0;
  background-color: var(--border-muted);
  border-radius: var(--border-radius-xs);
  box-shadow: var(--shadow-s);

  @include square(24px);
}