.logo {
  display: flex;
  place-items: center;
  gap: 8px;
  padding: 6px;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
    transition-duration: var(--transition-duration);
  }

  > img {
    width: 48px;
    height: 48px;
  }

  > span {
    color: var(--text);
    font-size: 32px;
    font-weight: 700;
  }
}