@use '@/app/styles/helpers' as *;

.title {
  margin-bottom: 15px;
  color: var(--text-accent);

  @include tablet {
    margin-bottom: 8px;
  }

  @include mobile-s {
    margin-bottom: 4px;
  }
}

.mainDescription {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 10px;
  }
}

.section {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .subtitle {
    margin-bottom: 10px;

    @include tablet {
      margin-bottom: 5px;
    }
  }

  .list {
    padding-left: 15px;

    @include tablet {
      padding-left: 20px;
    }

    .listItem {
      margin-bottom: 10px;
      list-style: disc;

      &::marker {
        color: var(--primary);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
