.content {
  padding: 25px 40px 40px;
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-l);
}

.title {
  margin-bottom: 15px;
  color: var(--text-accent);
}

.mainDescription {
  margin-bottom: 20px;
}

.section {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  .subtitle {
    margin-bottom: 10px;
  }

  .list {
    padding-left: 15px;

    .listItem {
      margin-bottom: 10px;
      list-style: disc;

      &::marker {
        color: var(--primary);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
