.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-block: 10px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}