@use '@/app/styles/helpers' as *;

.themeButton {
  @include square(var(--input-height));
  @include flex-center;

  position: relative;
  overflow: hidden;
  background: transparent;
  border: none;
  border-radius: var(--border-radius-m);
  transition: var(--transition-main);

  @include hover {
    background-color: var(--primary-bg);
  }

  &:active {
    transform: scale(0.9);
  }
}

.iconWrapper {
  @include square(calc(var(--input-height) / 2));

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}