@use '@/app/styles/helpers' as *;

.gameBoard {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
  max-width: 600px;
  margin-inline: auto;
  background-color: var(--bg-game-board);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-m);

  @include tablet {
    max-width: 550px;
  }

  @include mobile {
    max-width: 450px;
  }

  @include mobile-s {
    max-width: 350px;
  }
}

.gameContent {
  width: 100%;
  height: 100%;
  transition-duration: var(--transition-duration);

  &.blur {
    filter: blur(8px) grayscale(0.5);
    pointer-events: none;
  }
}

.overlay {
  position: absolute;
  inset: 0;

  @include flex-center;
}

.startButton {
  padding: 10px;
  color: var(--text);
  background-color: var(--highlight);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-s);

  @include hover {
    opacity: 0.5;
  }
}

.emptyMessage {
  width: 100%;
  height: 100%;
  padding: 24px;

  @include flex-center;

  text-align: center;
}