@use '@/app/styles/helpers' as *;

.card {
  @include flex-center;

  flex-direction: column;
  gap: 20px;
  width: 310px;
  height: 400px;
  padding: 15px;
  background-color: var(--bg-card);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-m);

  .image {
    width: 90%;
    height: 90%;
    border-radius: var(--border-radius-m);
  }

  .title {
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .link {
    width: 100%;
    place-content: center;
    font-weight: 500;
    background-color: var(--primary);

    @include hover {
      color: var(--text);
      opacity: 0.65;
      transition-duration: var(--transition-duration);
    }
  }
}